[core]
    excludesfile = ~/.gitignore_global
[include]
    path = ~/.gitconfig.local
[color]
    ui = true
[alias]
    ec = config --global -e
    ps = push
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    pl = pull
    a = add
    # diff
    d = diff HEAD
    dc = diff --cached
    dl = diff --stat -r
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    lsd = diff --name-only
    ls = ls-files
    co = checkout
    cob = "!f() { git stash | git checkout $1 | git stash pop; }; f"
    # commit
    c = commit -m
    cm = commit -m
    cma = commit -am
    ci = commit
    ch = cherry-pick
    amend = commit --amend
    s = status
    sweep = "!fish -c git-sweep"
    br = branch
    ba = branch -a
    ft = fetch
    fp = fetch -p
    save = !git add -A && git commit -m 'SAVEPOINT'
    who = shortlog -s --
    # log
    lg = log --oneline --graph --decorate
    lg3 = log --oneline --graph --decorate -3
    last = log -1 HEAD
    new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
    nb = "!bash -c git-new-branch"
    openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
    showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
    gr = grep -n
    ig = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"

[push]
    default = simple
[diff "applescript"]
    textconv = osadecompile
[core]
    quotepath = false
[pull]
	ff = only
[maintenance]
	repo = /Users/hokan_134/ghq/github.com/hokan-inc/hokan-suitou-v3
