[include]
    path = ~/.gitconfig.local
[color]
    ui = true
[alias]
    ls = list-files
    lg = log --oneline --graph --decorate
    co = checkout
    cm = commit -am
    st = status
    br = branch
    ba = branch -a
    ft = fetch
    fp = fetch -p
    ig  = "!gi() { curl http://www.gitignore.io/api/$@ ;}; gi"
[push]
    default = simple
[diff "applescript"]
    textconv = osadecompile
    
