[user]
	name = AUTHER
	email = EMAIL
[color]
	ui = true
[alias]
  lg = log --oneline --graph --decorate
  co = checkout
  cm = commit -am
  st = status
  br = branch
  ba = branch -a
  ft = fetch
  fp = fetch -p
[core]
	excludesfile = /Users/yuuair/.gitignore_global
