[include]
    path = ~/.gitconfig.local
[color]
    ui = true
[alias]
    ec = config --global -e
    ps = push
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    pl = pull
    a = add
    # diff
    d = diff master
    dc = diff --cached
    dl = diff --stat -r
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    lsd = diff --name-only
    ls = ls-files
    co = checkout
    cob = checkout -b
    # commit
    c = commit -m
    cm = commit -m
    cam = commit -am
    ci = commit
    amend = commit --amend
    s = status
    br = branch
    ba = branch -a
    ft = fetch
    fp = fetch -p
    save = !git add -A && git commit -m 'SAVEPOINT'
    who = shortlog -s --
    # log
    lg = log --oneline --graph --decorate
    lg3 = log --oneline --graph --decorate -3
    last = log -1 HEAD
    ig  = "!gi() { curl https://www.gitignore.io/api/$@ ;}; gi"
    new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
[push]
    default = simple
[diff "applescript"]
    textconv = osadecompile
[core]
    quotepath = false
