" IdeaVim configuration
nnoremap .e :vsp ~/.ideavimrc<CR>
nnoremap .r :action IdeaVim.ReloadVimRc.reload<CR>

set clipboard+=unnamed

" Plugins
" https://github.com/JetBrains/ideavim/blob/master/doc/IdeaVim%20Plugins.md#nerdtree
" set sneak
set NERDTree
set easymotion
" set surround
" set multiple-cursors
" set commentary
" set ReplaceWithRegister
" set argtextobj
" set exchange
" set textobj-entire
" set highlightedyank
" set vim-paragraph-motion
" set textobj-indent
" set matchit
" set quickscope
" set which-key

" Leader key
let mapleader = ";"

nnoremap <leader>a     :action ShowIntentionActions<CR>
nnoremap <leader>b     :action Annotate<CR>
nnoremap <leader>c     :action ActivateGitHubCopilotChatToolWindow<CR>
vnoremap <leader>c     :action OpenInlineChatAction<CR>
nnoremap <leader>d     :action Compare.SameVersion<CR>
nnoremap <leader>e     :action GotoNextError<CR>
" nnoremap <leader>efn   :action RenameFile<CR>
" nnoremap <leader>er    :action RefactoringMenu<CR>
nnoremap <leader>fu    :action FindUsages<CR>
nnoremap <leader>gb    :action Git.Branches<CR>
nnoremap <leader>gd    :action Github.Pull.Request.Review.In.Editor.Toggle<CR>
nnoremap <leader>gh    :action Vcs.ShowTabbedFileHistory<CR>
nnoremap <leader>glh   :action Vcs.ShowHistoryForBlock<CR>
nnoremap <leader>gr    :action Github.Pull.Request.Show.In.Toolwindow<CR>
nnoremap <leader>h     :action RecentFiles<CR>
nnoremap <leader>jts   :action XDebugger.JumpToSource<CR>
nnoremap <leader>l     :action JumpToLastChange<CR>
nnoremap <leader>m     :action ToggleBookmark<CR>
nnoremap <leader>M     :action ToggleBookmark<CR>
nnoremap <leader>o     :action SelectInProjectView<CR>
nnoremap <leader>r     :action ReformatCode<CR>
nnoremap <leader>re    :action RenameElement<CR>
nnoremap <leader>s     :action Switcher<CR>
nnoremap <leader>t     :action ActivateTerminalToolWindow<CR>
nnoremap <leader>nd    :action NextDiff<CR>
nnoremap <leader>pc    :action PreviousDiff<CR>

" 前の変更箇所へジャンプ

nnoremap <leader>c :action copilot.chat.show<CR>
vnoremap <leader>c :action copilot.chat.inline<CR>

inoremap <C-a> <Home>
inoremap <C-e> <End>
inoremap <C-f> <Right>
inoremap <C-b> <Left>
inoremap <C-n> <Down>
inoremap <C-p> <Up>
inoremap <C-d> <Delete>
inoremap <C-h> <BS>
